@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neuton-800';
  src: url('./assets/fonts/Neuton-ExtraBold.ttf');
}

@font-face {
  font-family: 'Neuton-500';
  src: url('./assets/fonts/Neuton-Regular.ttf');
}

html,body{
  font-family: 'Neuton-500';
}
